@import "./shadow/index";

//*hero sectiona ile ilgili ona gore ayarlar 1990px le gore ayarlamalar yap

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, $grey-color, $black-color);

  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #474747;
}


.home-carousel {
  max-width: 1280px;
  margin: 0 auto;
  padding-block: 60px;
  gap: 20px;
  box-sizing: border-box;
  .owl-carousel {
    .item {
      text-align: center;

      img {
        max-width: 80%;
        height: auto;
        transition: transform 0.5s ease-in-out;
      }
    }
  }
}



.arrivals__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 80px;

  .arrivals__container {
    max-width: 1280px;
    margin: 0 auto;
    .arrivals__content {
      text-align: center;
      .arrivals__title {
        font-family: "Lato", serif;
        font-weight: bold;

        font-size: clamp(24px, 4vw, 46px);
      }
      .arrivals__text {
        max-width: 614px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 24px;
        color: $grey-color;
        padding-block: 20px;
      }
    }

    .arrivals__buttons {
      text-align: center;
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;

      .arrivals__button {
        max-width: 207px;
        border-radius: 10px;
        width: 100%;
        border: none;
        cursor: pointer;
        // padding: 16px 20px;
        height: 52px;
        color: $grey-color;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        background-color: $white-dark-color;
      }
      .arrivals__button.aktif{
        background-color: $black-color;
        color: $white-color;
        font-family: "Josefin Sans", serif;
      }

    }
  
    .arrivals__products__grid {
      padding: 40px;
      display: grid;
      grid-template-columns: repeat(auto-fit, 386px);
      gap: 20px;
      justify-content: center;

      .arrivals__card {
        width: 386px;
        height: 438px;
        background-color: $white-color;
        box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
        padding: 15px;
        gap: 10px;

        .arrivals__img {
          max-width: 100%;
          max-height: 244px;
          border-radius: 10px;
          object-fit: contain;
          display: block;
          margin: 0 auto;
        }
        .arrivals__textIcon {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-right: 10px;
          margin-top: 10px;
          margin-left: 10px;

          .product__name {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: $grey-black-color;
          }
          .product__rating {
            color: $orange-color;
            font-size: 19px;
          }
        }
        .product__brand {
          color: $grey-color;
          margin-left: 10px;
          font-weight: 500;
          font-size: 12px;
          font-family: "Josefin Sans", serif;
          line-height: 12px;
        }
        .product__reviews {
          color: $grey-black-color;
          font-size: 12px;
          line-height: 18px;
          margin-top: 30px;
          margin-left: 10px;
          margin-bottom: 30px;
        }
        .product__card__bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-left: 10px;
          margin-right: 10px;

          .product__price {
            font-size: 24px;
            letter-spacing: -1%;
            line-height: 20px;
            font-weight: 500;
            color: $grey-color;
          }
          .product__price-dıscount{
            font-size: 24px;
            letter-spacing: -1%;
            line-height: 20px;
            font-weight: 500;
            color: $grey-color;
            text-decoration:line-through;
          }

          .products__discount{
            font-size: 24px;
            letter-spacing: -1%;
            line-height: 20px;
            font-weight: 900;
            margin-right: 140px;
            color: $black-color;
          }

          .product__status {
            font-weight: 400;
            font-size: 12px;
            letter-spacing: -1%;
            line-height: 20px;
            color: $red-color;
          }
        }
      }
    }
    .arrivals__bottom__btn {
      max-width: 207px;
      width: 100%;
      color: #ffffff;
      height: 56px;
      background-color: $black-color;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      text-align: center;

      a {
        color: $white-color;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        font-family: "Josefin Sans", serif;
      }
    }
  }
}

.featured__slider {
  max-width: 1920px;
  margin: 50px auto;
  .featured__container {
    display: flex;
    justify-content: center;
    align-items: center;

    .featured__images {
      text-align: center;
      position: relative;
      padding-right: clamp(20px, 10vw, 120px);
      max-height: 570px;
      max-width: 900px;
      // left: 35px;

      .f_img {
        max-height: 570px;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
      .f_img1 {
        position: absolute;
        left: -1%;
        top: 48%;
      }
      .f_img2 {
        position: absolute;
        left: 2%;
        top: 20%;
      }
      .f_img3 {
        position: absolute;
        left: 40%;
      }
      .f_img4 {
        position: absolute;
        left: 34%;
        top: 36%;
      }
      .f_img5 {
        position: absolute;
        top: 84%;
        left: 34%;
      }
      .f_img6 {
        position: absolute;
      }
    }

    .featured__collec__div {
      flex: 1;
    // background: url("../images/featured-slider/bg.svg");
      text-align: left;
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: clamp(50px, 5vw, 250px);
      position: relative;
      z-index: -10;
     
      background-size: cover;
      background-position: center;

      .featured_collec_h1 {
        color: $normal-grey-color;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }
      .featured_collec_h2 {
        font-weight: 400;
        color: $grey-black-color;
        margin: 30px 0;
        font-size: 46px;
        line-height: 59.34px;
      }
      .featured_collec_h3 {
        text-decoration: underline;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $black-color;
      }

      .featured_collec_p1 {
        font-weight: 400;
        font-size: 16px;
        padding: 20px 0px;
        max-width: 515px;
        color: $normal-grey-color;
      }

      .featured_collec {
        display: flex;
        align-items: center;

        .f_size {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $normal-grey-color;
        }

        .f_buttons {
          border-radius: 10px;
          background-color: $black-color;
          max-width: 53px;
          width: 100%;
          min-height: 28px;
          margin: 0 0 0 20px;
          color: $white-color;
        }
      }
      .featured_collec_p2 {
        font-weight: 500;
        font-size: 28px;
        padding: 20px 0px;
        line-height: 36px;
      }
      .featured_collec_btn {
        max-width: 207px;
        width: 100%;
        height: 56px;
        background-color: $black-color;
        box-shadow: 0px 20px 35px 0px #00000026;
        -webkit-box-shadow: 0px 20px 35px 0px #00000026;
        -moz-box-shadow: 0px 20px 35px 0px #00000026;
        color: $white-color;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        border-radius: 10px;
      }
    }
  }
}

.knowledge__wrapper{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 72px 120px;

  .container{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    .knowledge__box{
      display: flex;
      align-items: center;
    
      gap: 10px;

      .knowledge__Text{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .knowledge__title{
          color: $grey-black-color;
          font-family: 'Poppins',sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0%;
        }

        .knowledge__text{
          color: $grey-black-color;
          font-family: 'Poppins',sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0%;
        }


      }


    }
  
  }

}

@media(max-width:1366px){
  .knowledge__wrapper{
    
    .container{
      grid-template-columns: repeat(2, 1fr);
      display: grid;
    }
  }
}




@media(max-width:1023px){

  .knowledge__wrapper{
    display: flex;
    flex-direction: column;
    padding: 50px;

    .container{
      display: block;
      justify-content: left;

      .knowledge__box{
        margin: 40px 0;
      }
      
    }

  }
  
}


@media(max-width:768px){

  .knowledge__wrapper{
    padding: 30px;
  }
  
}












// @media screen and (min-width: 1600px) and (max-width: 1920px){

//   .featured__slider{
//     .featured__container{
// gap: 50px;
//       .featured__images{
//         padding-left: clamp(20px, 5.4vw, 120px);
//         left: 100px;
//       }
//     }
//   }

// }


@media (max-width: 1750px) {
  .featured__slider {
    .featured__container {
      .featured__images {
        .f_img6 {
          display: none;
        }
      }
      .featured__collec__div {
        background-color: $beyaz-grey-color;
        padding-left: clamp(20px, 7vw, 80px);
        border-left: solid 2px $black-color;
      }
    }
  }
}

@media (max-width: 1400px) {
  .featured__slider {
    .featured__container {
      .featured__images {
        .f_img6 {
          display: none;
        }
      }
      .featured__collec__div {
        background-color: $beyaz-grey-color;
        padding-left: clamp(20px, 7vw, 80px);
        border-left: solid 2px $black-color;
      }
    }
  }
}

@media (max-width: 1000px) {
  .featured__slider {
    .featured__container {
      display: block;

      .featured__images {
        display: flex;
        justify-content: center;
        left: 0;
        margin: 0px auto;

        .f_img {
          max-height: clamp(100px, 100vw, 570px);
          object-fit: contain;

          width: 60%;
        }
        .f_img1,
        .f_img2,
        .f_img3,
        .f_img4,
        .f_img5,
        .f_img6 {
          height: 12%;
        }
      }
      .featured__collec__div {
        text-align: center;
        padding: 20px 0px;
        background-color: #dadada;
        border: none;

        .featured_collec {
          display: flex;
          justify-content: center;
        }

        .featured_collec_h3 {
          display: inline-block;
        }
        .featured_collec_p1 {
          margin: 0px auto;
        }
        .featured_div {
          justify-content: center;
        }
      }
    }
  }
}
