.header-wrapper {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 20px 40px;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: 100;

  .container {
    width: 88%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-img {
      img {
        max-width: 171px;
        height: auto;
      }
    }

    .bars__menu {
      #bars__button {
        display: none;
      }
    }
   
    .header-navbar {
      .close-navbar{
        display: none;
      }

      flex: 1; 
      display: flex;
      align-items: center;
      justify-content: space-between;

      .close-navbar {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        z-index: 1010;
      }
      
      ul {
        flex: 1; 
        display: flex;
        justify-content: center; 
        gap: 32px;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          .nav-item {
            color: #333;
            font-weight: 400;
            font-size: 15px;
            text-decoration: none;
          }
        }
      }

      .header__icons {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-left: auto;
        a {
          color: $black-color;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .header-wrapper {
    .container {
      .header-navbar {
        position: fixed; 
        top: 0;
        right: -300px; 
        width: 300px;
        height: 616px;
        background-color: $white-color;
        padding: 20px;
        transition: right 0.3s ease;
        flex-direction: column;
        box-shadow: -4px 4px 7px 0px #00000026;
        gap: 60px;
        z-index: 1000;

        ul {
          display: flex;
          align-items: center;
          flex-direction: column;

          li {
            .nav-item {
              font-size: 24px;
              font-weight: bold;
            }
          }
        }

        .header__icons {
          a {
            display: none;
          }
        }
        
        .close-navbar {
          display: block;
        }
      }

      .header-navbar.active {
        right: 0; 
      }

      .bars__menu {
        width: 50%;
        position: fixed; 
        right: 20px;
        top: 20px;
        z-index: 95; 


        #bars__button {
          display: block !important; 
          background-color: $black-color;
          color: $white-color;
          height: 44px;
          width: 120px;
          border-radius: 10px;
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;                
        }
      }
    }
  }
}